{% extends 'me/header.html' %}
<body>
{% block after_header %}
	<p>Education</p>
	<iframe width="420" height="345" src="https://www.youtube.com/embed/FhnaYF43STI"></iframe>
	<iframe width="420" height="345" src="https://www.youtube.com/embed/FhnaYF43STI?autoplay=1&mute=1"></iframe>
	<iframe width="420" height="345" src="//www.youtube.com/embed/FhnaYF43STI?autoplay=1&mute=1" name="youtube embed" allow="autoplay; encrypted-media" allowfullscreen></iframe>
	<!-- <iframe src="https://www.youtube.com/embed/FhnaYF43STI?autoplay=1" allow='autoplay'></iframe> -->
	<!-- <iframe src="http://www.youtube.com/embed/xzvScRnF6MU?autoplay=1" width="960" height="447" frameborder="0" allowfullscreen></iframe> -->
		<!-- <iframe width="1280" height="720" src="https://www.youtube.com/embed/4u856utdR94" frameborder="0"  ?autoplay=1 allowfullscreen></iframe> -->
{% endblock %}
</body>